<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.starrah.thu_course_helper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/allow_http">
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label = "Main Activity"
            android:parentActivityName=".LoadingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoadingActivity" />
        </activity>
        <activity android:name=".activity.ItemShowActivity"
            android:label = "Item Show Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".activity.ItemEditActivity"
            android:label = "Item Edit Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <receiver android:name=".widget.AppWidgetTime" >
        <intent-filter>
            <action android:name="button_up" />
            <action android:name="button_down" />
            <action android:name="update_action"/>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/app_widget_time" />
        </receiver>

        <receiver android:name=".widget.AppWidgetCourse" >
            <intent-filter>
                <action android:name="button_up" />
                <action android:name="button_down" />
                <action android:name="update_action"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_course" />
        </receiver>

        <receiver android:name=".widget.NotificationCourse" >
            <intent-filter>
                <action android:name="button_up" />
                <action android:name="button_down" />
                <action android:name="update_action"/>
                <action android:name="delete_action"/>

            </intent-filter>
        </receiver>

        <receiver android:name=".widget.NotificationTime" >
            <intent-filter>
                <action android:name="button_up" />
                <action android:name="button_down" />
                <action android:name="update_action"/>
                <action android:name="delete_action"/>

            </intent-filter>
        </receiver>


        <receiver android:name=".remind.RemindReceiver">
            <intent-filter>
                <action android:name="cn.starrah.thu_course_helper.remind" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.AppTaskReceiver">
            <intent-filter>
                <action android:name="cn.starrah.thu_course_helper.executeAppTask" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.UpdateWidgetsRecevier">
            <intent-filter>
                <action android:name="cn.starrah.thu_course_helper.updateWidgets" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.PhoneRestartReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".remind.RemindHelperActivity">
            <intent-filter>
                <action android:name="test" />
            </intent-filter>
        </activity>
    </application>



</manifest>